In [47]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.dummy import DummyClassifier
from sklearn.metrics import mean_squared_error,confusion_matrix,classification_report
from sklearn.decomposition import PCA

In [3]:
df = pd.read_csv('train_data.csv')

In [94]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,Paid1,Paid2,Paid3,Paid4,Paid5,Paid6
0,2873,350000,1,1,2,37,-2,-2,-2,-2,...,466,316,316,0,0,0,-150,0,150,0
1,3598,50000,2,2,1,37,2,2,2,0,...,600,600,600,0,35494,43594,37642,12426,12668,12897
2,27623,50000,2,1,2,23,-1,-1,-1,-1,...,9810,660,2980,0,882,157,-2501,-5010,9150,-2320
3,6874,20000,1,3,1,56,0,0,0,0,...,0,490,658,0,9339,10960,11768,13784,12930,13028
4,6444,110000,2,2,2,32,0,0,0,0,...,4100,4100,4200,0,102759,101412,104364,104729,106457,101882

In [50]:
df['Paid1'] = df['BILL_AMT1']-df['PAY_AMT1']
df['Paid2'] = df['BILL_AMT2']-df['PAY_AMT2']
df['Paid3'] = df['BILL_AMT3']-df['PAY_AMT3']
df['Paid4'] = df['BILL_AMT4']-df['PAY_AMT4']
df['Paid5'] = df['BILL_AMT5']-df['PAY_AMT5']
df['Paid6'] = df['BILL_AMT6']-df['PAY_AMT6']

In [51]:
X = df.drop(columns=['ID','default payment next month'])
y = df['default payment next month']

In [52]:
OHE = OneHotEncoder(categories='auto')
pay0 = pd.DataFrame.sparse.from_spmatrix(OHE.fit_transform(df[['PAY_0']]))
pay2 = pd.DataFrame.sparse.from_spmatrix(OHE.fit_transform(df[['PAY_2']]))
pay3 = pd.DataFrame.sparse.from_spmatrix(OHE.fit_transform(df[['PAY_3']]))
pay4 = pd.DataFrame.sparse.from_spmatrix(OHE.fit_transform(df[['PAY_4']]))
pay5 = pd.DataFrame.sparse.from_spmatrix(OHE.fit_transform(df[['PAY_5']]))
pay6 = pd.DataFrame.sparse.from_spmatrix(OHE.fit_transform(df[['PAY_6']]))

In [76]:
df['default payment next month'].value_counts()

0    18691
1     5308
Name: default payment next month, dtype: int64

In [54]:
Xohe = pd.concat([X,pay0,pay2,pay3,pay4,pay5,pay6],axis=1,sort=False)

In [55]:
Xohe = Xohe.drop(columns=['PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6'])

In [56]:
Xohe.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,...,0,1,2,3,4,5,6,7,8,9
0,350000,1,1,2,37,316,316,316,466,466,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50000,2,2,1,37,40994,43594,38222,13026,13268,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,50000,2,1,2,23,3430,2478,2299,4800,9810,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20000,1,3,1,56,10847,12176,12884,13784,13420,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,110000,2,2,2,32,108159,106812,108464,108829,110557,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
ss = StandardScaler()
Xss = ss.fit_transform(Xohe)

In [105]:
pca = PCA(n_components=0.9,random_state=42)
Xpca = pca.fit_transform(Xss)

In [112]:
X_train, X_test, y_train, y_test = train_test_split(Xss,y,random_state=42)

In [113]:
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [114]:
print(classification_report(y_test,rfc.predict(X_test)))

              precision    recall  f1-score   support

           0       0.83      0.94      0.88      4657
           1       0.63      0.35      0.45      1343

    accuracy                           0.81      6000
   macro avg       0.73      0.64      0.67      6000
weighted avg       0.79      0.81      0.79      6000

In [115]:
sorted(list(zip(rfc.feature_importances_,Xohe.columns)),reverse=True)

[(0.05308612043955644, 'AGE'),
 (0.05004902312293923, 4),
 (0.04992490203590134, 'LIMIT_BAL'),
 (0.041580184221761345, 'BILL_AMT1'),
 (0.041573494498294804, 'Paid1'),
 (0.03900137086316493, 'Paid2'),
 (0.03742608475958823, 'BILL_AMT2'),
 (0.03739060010782542, 'PAY_AMT1'),
 (0.037058396398079764, 'Paid6'),
 (0.03702544744149214, 'Paid3'),
 (0.03603292269555984, 'BILL_AMT3'),
 (0.035656931799536745, 'Paid4'),
 (0.03553309386994839, 'PAY_AMT2'),
 (0.035328516140964474, 'Paid5'),
 (0.034809795907217354, 'BILL_AMT6'),
 (0.03350254803551463, 'BILL_AMT4'),
 (0.033289108073524164, 'BILL_AMT5'),
 (0.03288320637619154, 'PAY_AMT6'),
 (0.03233146153903807, 'PAY_AMT4'),
 (0.03216610442288429, 'PAY_AMT3'),
 (0.03104050457119765, 'PAY_AMT5'),
 (0.02179398264228584, 4),
 (0.01794643134000124, 4),
 (0.01649853256676639, 'EDUCATION'),
 (0.014446398134407186, 2),
 (0.014213378996276452, 4),
 (0.011712139451436626, 'MARRIAGE'),
 (0.011278403766325471, 3),
 (0.009843701850567332, 3),
 (0.009766084481152302, 'SEX'),
 (0.007455009273678429, 3),
 (0.006449355812577713, 2),
 (0.00535041917474956, 1),
 (0.00412662439753236, 5),
 (0.004031088935524616, 2),
 (0.003969187399719021, 2),
 (0.003912431831724325, 2),
 (0.0036863710498341077, 2),
 (0.003378620479245566, 1),
 (0.0032305750945602805, 1),
 (0.003159201460330333, 1),
 (0.003124702797174713, 1),
 (0.0025905058483699835, 0),
 (0.0025383511849632256, 1),
 (0.0024728879937251295, 0),
 (0.002173991688009286, 5),
 (0.001967170746693186, 0),
 (0.0016319306499590926, 0),
 (0.0013413218258898428, 0),
 (0.0012905177416492682, 0),
 (0.0012082541275929045, 4),
 (0.0011513492457316443, 5),
 (0.0009336962390370005, 4),
 (0.0008555570555566537, 5),
 (0.0004731756620571315, 6),
 (0.00041432001717175873, 6),
 (0.0003827095970858905, 6),
 (0.00028019172765650417, 5),
 (0.0002632202203724102, 6),
 (0.0002372023786276354, 8),
 (0.00020454901338177499, 7),
 (0.0001951056807619832, 5),
 (0.00018565721583712293, 9),
 (0.00013488733268569045, 8),
 (0.00012142063336051544, 7),
 (0.00012050212395136292, 7),
 (0.0001055129713864538, 7),
 (9.665814184891188e-05, 3),
 (8.663044545183976e-05, 7),
 (8.119013381052436e-05, 6),
 (7.626303591816818e-05, 8),
 (6.803807391682444e-05, 9),
 (5.659841138897244e-05, 8),
 (4.638744544899802e-05, 10),
 (2.945678792834003e-05, 9),
 (2.559520202713252e-05, 9),
 (2.178013314885444e-05, 8),
 (1.6186067761837263e-05, 8),
 (1.6177545071638508e-05, 6),
 (1.5143502436302015e-05, 10),
 (9.407354141516966e-06, 9),
 (8.640704708081586e-06, 7),
 (7.549313388590184e-06, 10),
 (1.710399393750887e-06, 9),
 (1.4012464541740257e-07, 10),
 (0.0, 3),
 (0.0, 3)]

In [116]:
z =pd.DataFrame(y_test)
z['default payment next month'].value_counts()

0    4657
1    1343
Name: default payment next month, dtype: int64

In [117]:
gb = GradientBoostingClassifier(n_estimators=1000)
gb.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=1000,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [118]:
print(classification_report(y_test,gb.predict(X_test)))

              precision    recall  f1-score   support

           0       0.84      0.94      0.89      4657
           1       0.65      0.38      0.48      1343

    accuracy                           0.82      6000
   macro avg       0.75      0.66      0.68      6000
weighted avg       0.80      0.82      0.80      6000

In [119]:
sorted(list(zip(gb.feature_importances_,Xohe.columns)),reverse=True)

[(0.2602956158859282, 4),
 (0.06645701518291741, 4),
 (0.03997427793251638, 'PAY_AMT1'),
 (0.03890147296274421, 4),
 (0.03847842832185488, 'LIMIT_BAL'),
 (0.0367285259568316, 'Paid1'),
 (0.03363521958749958, 'PAY_AMT2'),
 (0.031203078554971966, 'BILL_AMT1'),
 (0.03010077586709589, 'Paid2'),
 (0.025501852302315116, 'Paid3'),
 (0.024875306637171756, 'PAY_AMT3'),
 (0.02435030274423746, 'AGE'),
 (0.02418481914950605, 'PAY_AMT4'),
 (0.02288763727450655, 'Paid6'),
 (0.02262133990142766, 'PAY_AMT6'),
 (0.022406396781690277, 'Paid4'),
 (0.022059353825451104, 'BILL_AMT6'),
 (0.02100495331594933, 'BILL_AMT2'),
 (0.02001508314348313, 'PAY_AMT5'),
 (0.018701409715983143, 'BILL_AMT5'),
 (0.018398466501301045, 'BILL_AMT3'),
 (0.017769498870465708, 3),
 (0.016979673325096957, 5),
 (0.01587909872510829, 4),
 (0.015027757009501316, 'Paid5'),
 (0.014475777188337738, 'BILL_AMT4'),
 (0.008930962649517808, 5),
 (0.007574574840378016, 3),
 (0.006370783420100507, 'EDUCATION'),
 (0.005800062227010165, 3),
 (0.0045178632326741824, 2),
 (0.004166993198718649, 'MARRIAGE'),
 (0.0032718322686167613, 'SEX'),
 (0.003154269644186228, 4),
 (0.002537604699020285, 4),
 (0.0025013393861154894, 1),
 (0.0024846660534515565, 6),
 (0.002381772589646235, 5),
 (0.0018988201333747104, 1),
 (0.0017252144985988606, 1),
 (0.0015718240861451963, 0),
 (0.0014973159339463913, 1),
 (0.0013815537793196706, 2),
 (0.0013499021995396173, 6),
 (0.0012380157892744553, 2),
 (0.0011607909255826445, 5),
 (0.0011240889066794592, 0),
 (0.0010740059061431775, 1),
 (0.001056510025213751, 0),
 (0.0008997966225258488, 2),
 (0.0008365617590700805, 2),
 (0.000720010010254127, 7),
 (0.0007176110045923927, 1),
 (0.000680017467854374, 7),
 (0.0006165688503342881, 5),
 (0.0005988001472376147, 2),
 (0.0003868006266858868, 9),
 (0.0003193830309563008, 7),
 (0.00030709828861314495, 8),
 (0.0003020016067739786, 7),
 (0.00024139806686782346, 6),
 (0.0002042432415032155, 5),
 (0.00019699000710457994, 9),
 (0.00015658074481221228, 6),
 (0.00014413588429291587, 8),
 (0.00013262825693559344, 8),
 (0.0001305238464634008, 8),
 (0.0001207921667534324, 9),
 (0.00010441152703874948, 0),
 (0.00010409363676825667, 3),
 (7.663560077654136e-05, 8),
 (6.983325380298487e-05, 9),
 (6.952648063633149e-05, 0),
 (4.554879037417154e-05, 7),
 (4.289675662399884e-05, 10),
 (3.90883844479185e-05, 10),
 (3.0084465758448453e-05, 8),
 (1.1621574339047774e-05, 6),
 (1.0030341400054381e-05, 7),
 (3.8450125556211333e-07, 0),
 (0.0, 10),
 (0.0, 10),
 (0.0, 9),
 (0.0, 9),
 (0.0, 6),
 (0.0, 3),
 (0.0, 3)]